body {
    background-image: url(../img/bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 1020px;
    min-height: 1200px;
    margin: auto;
}


/* ======================NAVIGATION============================ */

nav {
    position: relative;
    height: 150px;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    line-height: 60px;
    list-style: none;
    margin-top: 60px;
    padding-left: 0;
}

.gallery {
    margin-right: 120px;
}

:root {
    --w: 150px;
}

.logo {
    position: absolute;
    top: -40px;
    left: 43%;
    width: var(--w);
    height: var(--w);
    line-height: calc(var(--w)/3);
    text-align: center;
    font-family: Dorsa;
    font-size: 40px;
    color: #4A4A8D;
    border-radius: calc(var(--w)/2);
    background-color: white;
}

.navigation>li>a {
    color: white;
    font-family: "Pathway Gothic One";
    font-size: 20px;
    text-decoration: none;
}

.link {
    display: block;
    width: 40px;
    height: 50px;
    padding: 0 10px 0 10px;
}

.submenu {
    display: none;
    position: absolute;
    left: 18, 5%;
    width: 40px;
    background-color: white;
    list-style: none;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 2px;
}

.agency,
.news,
.team {
    color: #292955;
    font-size: 15px;
    height: 20px;
    text-decoration: none;
    font-family: "Pathway Gothic One";
}

.about:hover>.submenu {
    display: block;
}

.submenu:before {
    content: "\25B2";
    color: white;
    top: -12px;
    left: 42%;
    height: 10px;
    position: absolute;
    font-size: 10px;
}

.navigation>li>a:hover {
    color: #292955;
}


/* =====================MAIN============================ */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    padding: 60px;
    background-color: white;
}

.main_left {
    width: 70%;
    margin-right: 50px;
}

.main_right {
    width: 25%;
}

.main_right>h1,
.main_left>h1 {
    font-family: "Pathway Gothic One";
    font-size: 40px;
    text-transform: uppercase;
    color: #16163F;
}


/* =====================MAIN LEFT======================== */

.first_post {
    height: 450px;
    border-bottom: 2px solid gray;
}

.second_post {
    height: 450px;
    margin-top: 50px;
}

.first_post>h4,
.second_post>h4 {
    text-transform: uppercase;
    color: #16163F;
}

h6 {
    font-size: 10px;
    color: gray;
}

.little_text {
    display: flex;
    flex-direction: row;
}

.little_text_left {
    width: 80%;
    margin: 0 0 0 40px;
}

.little_text_right {
    width: 15%;
    margin-top: 0;
}

.first_post>h4,
.first_post>h6,
.second_post>h4,
.second_post>h6 {
    margin-left: 35px;
}

.first_post:before {
    float: left;
    content: "23 APR";
    color: white;
    background: #46AFF0;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.second_post:before {
    float: left;
    content: "28 APR";
    color: white;
    background: #46AFF0;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

img {
    width: 40%;
    height: 200px;
    margin-right: 20px;
}

.text {
    width: 60%;
    height: 300px;
}

.text>h4 {
    color: #292955;
    margin: 0;
}

.text>p {
    font-size: 13px;
}

.details {
    display: block;
    color: #292955;
    width: 70px;
    height: 30px;
    font-family: "Pathway Gothic One";
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #000000 inset;
    background: lightgray;
}

.details:hover {
    background: #F9F7F7;
}


/* =====================MAIN RIGHT==================== */

.main_right>ul {
    padding-left: 0;
    list-style: none;
}

.main_right>ul>li {
    margin-top: 20px;
}

.main_right>ul>li:before {
    content: "\2192";
    color: blue;
    display: inline-block;
    margin-right: 10px;
}

.main_right>ul>li>a {
    color: #0F0F3F;
    text-decoration: none;
    font-family: "Pathway Gothic One";
}


/* ================FIXED_FIGURE==================== */

figure {
    display: inline-block;
    position: fixed;
    right: 90px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #5CA6FA;
    text-align: center;
}

.figure {
    display: inline-block;
    text-decoration: none;
    line-height: 25px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.figure:before {
    content: "\2227";
    color: white;
}


/* ==================FOOTER===================== */

footer {
    height: 100px;
    background-color: #16163F;
    padding: 40px 100px 40px 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    font-family: "Pathway Gothic One";
    color: white;
    list-style: none;
}

.col_1,
.col_2,
.col_3,
.col_4 {
    width: 25%;
    height: 50px;
}

.footer>li>a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Pathway Gothic One";
}


/* ====================ICONS=========================== */

.menu {
    overflow: hidden;
    margin-left: 38%;
}

.menu li {
    float: left;
    list-style: none;
    margin-right: 12px;
}

.menu a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}

.menu .facebook {
    background-position: -40px 0;
}

.menu .google {
    background-position: -80px 0;
}

.menu .instagram {
    background-position: -120px 0;
}

.menu a:hover {
    filter: grayscale(100%)
}