body {
    background-image: url(../img/bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 1020px;
    min-height: 1200px;
    margin: auto;
}

/* ======================NAVIGATION============================ */

nav {
    position: relative;
    font-size: 0;
    height: 200px;
}

.flex-container_1,
.navigation_left,
.navigation_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation_left,
.navigation_right {
    width: 50%;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-transform: uppercase;
    margin-top: 50px;
    padding-left: 0;
}

:root {
    --w: 150px;
}

.logo {
    width: var(--w);
    height: var(--w);
    line-height: calc(var(--w)/3);
    text-align: center;
    font-family: Dorsa;
    font-size: 40px;
    color: #4A4A8D;
    text-transform: uppercase;
    border-radius: calc(var(--w)/2);
    background-color: white;
}

nav>ul>li>a,
.agency,
.news,
.team {
    color: white;
    font-family: "Pathway Gothic One";
    font-size: 20px;
    text-decoration: none;
    height: 50px;
}

.submenu {
    display: none;
    position: absolute;
    left: 18%;
    width: 40px;
    background-color: white;
    list-style: none;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 2px;
}

.agency,
.news,
.team {
    color: #292955;
    font-size: 15px;
    height: 20px;
}

.about:hover>.submenu {
    display: block;
}

.submenu:before {
    content: "\25B2";
    color: white;
    top: -12px;
    left: 45%;
    height: 10px;
    position: absolute;
    font-size: 10px;
}

nav>ul>li>a:hover {
    color: #292955;
}


/* ==================================MAIN============================ */

main {
    width: 900px;
    padding: 60px;
    background-color: white;
}


/* ===================UP=================== */

.up {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    border-bottom: 2px solid gray;
}

.box_1 {
    width: 70%;
    height: 500px;
}

.box_2 {
    width: 20%;
    height: 500px;
}

.box_1>h1,
.box_2>h1,
.box_3>h1,
.box_4>h1 {
    text-transform: uppercase;
    font-family: "Pathway Gothic One";
    color: #292955;
    margin: 50px 0;
}

h4 {
    color: #191E4D
}

img {
    float: left;
    width: 400px;
    height: 300px;
    margin: 0 30px 20px 0;
}

.numbers {
    list-style: none;
    counter-reset: myCounter;
    padding-left: 0;
}

.numbers h4,
.numbers p {
    margin-left: 35px;
}

.numbers>li:before {
    float: left;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    background: #46AFF0;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}


/* ====================DOWN======================= */

.down {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 350px;
}

.box_4 {
    width: 20%;
    height: 350px;
}

.links {
    list-style: none;
    line-height: 30px;
}

.links>li:before {
    content: "\2192";
    color: blue;
    display: inline-block;
    margin-right: 10px;
}

.box_5>ul>li>a,
.box_6>ul>li>a {
    text-decoration: none;
    color: #191E4D;
    font-family:"Pathway Gothic One";
    font-size: 20px;
}

.box_5>ul,
.box_6>ul {
    padding-left: 0;
}

.box_5 {
    margin-right: 40px;
}


.comment {
    width: 250px;
    height: 190px;
    background: lightgray;
    border-radius: 5px;
}

.comment_block {
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    background: #fcfafa;
    width: 238px;
    height: 178px;
    margin-left: 1px;
    margin-top: 1px;
}

.comment_block:before {
    content: "\201C";
}

.comment_block:after {
    content: "\201D";
}

.triangle_back {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 50px solid lightgray;
    position: relative;
    margin-left: calc((250px - 60px) / 2);
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 50px solid #fcfafa;
    position: absolute;
    left: -30px;
    top: -53px;
}

img {
    width: 278px;
    height: 200px;
    margin-top: 40px;
}


/* ================FIXED_FIGURE==================== */


figure {
    display: inline-block;
    position: fixed;
    right: 90px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #5CA6FA;
    text-align: center;
}

.figure {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.figure:before {
    content: "\2227";
    color: white;
}


/* ==================FOOTER===================== */


footer {
    height: 100px;
    background-color: #16163F;
    padding: 40px 100px 40px 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    list-style: none;
    font-family:"Pathway Gothic One";
    font-size: 18px;
}

.col_1,
.col_2,
.col_3,
.col_4 {
    width: 25%;
    height: 50px;
}

.footer>li>a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.footer>li>p {
    color: white;
}


/* ====================ICONS=========================== */


.menu {
    overflow: hidden;
    margin-left: 38%;
}

.menu li {
    float: left;
    list-style: none;
    margin-right: 12px;
}

.menu a {
    display: block;
    width: 38px;
    height: 38px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}

.menu .facebook {
    background-position: -40px 0;
}

.menu .google {
    background-position: -80px 0;
}

.menu .instagram {
    background-position: -120px 0;
}

.menu a:hover {
    filter: grayscale(100%)
}